
<div class="py-4 bg-white font-sans mt-40">

    <div class="max-w-screen-md mx-auto px-4 sm:px-6 lg:px-8 flex flex-col justify-between">
       <div class="flex items-center justify-between w-full px-6 py-4 bg-white font-sans">
    <p class="text-3xl text-neutral-500 md:text-4xl">
            <span class="text-[#e18188]">&gt;</span>
             Frequently Asked <span class="text-[#e18188]">Questions</span>
        </p>
        </div>


        <div class="mt-0">
            <div class="">
                <details class="group">
                    <summary class="flex cursor-pointer justify-between font-medium bg-gray-100 p-5 px-10 w-full">
                        <h4 class="text-md leading-6 font-medium text-[#e18188]">What types of courses are offered at the studio?</h4>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <p class="group-open:animate-fadeIn mt-3 text-gray-700 text-sm bg-gray-100 p-5 px-10 w-full">We offer courses in ceramics, painting, sculpture, and other visual art disciplines. Our courses cater to all levels, from beginners to advanced participants. For detailed information about the courses, you can visit our courses page or contact us via email.</p>
                </details>
                
                <details class="group mt-5">
                    <summary class="flex cursor-pointer justify-between font-medium bg-gray-100 p-5 px-10 w-full">
                        <h4 class="text-md leading-6 font-medium text-[#e18188]">How can I join a course?</h4>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <p class="group-open:animate-fadeIn mt-3 text-gray-700 text-sm bg-gray-100 p-5 px-10 w-full">To join our courses, prior registration is required. You can register by visiting the relevant course page on our website and filling out the form. For additional information regarding specific dates and times, please feel free to contact us.</p>
                </details>

                <details class="group mt-5">
                    <summary class="flex cursor-pointer justify-between font-medium bg-gray-100 p-5 px-10 w-full">
                        <h4 class="text-md leading-6 font-medium text-[#e18188]">How can I become a member of the studio?</h4>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <p class="group-open:animate-fadeIn mt-3 text-gray-700 text-sm bg-gray-100 p-5 px-10 w-full">To become a member of the studio, you must have completed at least one 8-week course or have sufficient experience in ceramics or painting. Please contact us for more information and to apply for membership.</p>
                </details>

                <details class="group mt-5">
                    <summary class="flex cursor-pointer justify-between font-medium bg-gray-100 p-5 px-10 w-full">
                        <h4 class="text-md leading-6 font-medium text-[#e18188]">What’s included with membership?</h4>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <p class="group-open:animate-fadeIn mt-3 text-gray-700 text-sm bg-gray-100 p-5 px-10 w-full">Membership includes 24/7 studio access, personal shelf space, half kiln shelf per month for firing your ceramic pieces, and a small workspace for painters. For more information about membership fees, please visit [here].</p>
                </details>
                
                            <details class="group mt-5">
    <summary class="flex cursor-pointer justify-between font-medium bg-gray-100 p-5 px-10 w-full">
        <h4 class="text-md leading-6 font-medium text-[#e18188]">What materials can I use at the studio?</h4>
        <span class="transition group-open:rotate-180">
            <svg fill="none" height="24" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                <path d="M6 9l6 6 6-6"></path>
            </svg>
        </span>
        </summary>
          <p class="group-open:animate-fadeIn mt-3 text-gray-700 text-sm bg-gray-100 p-5 px-10 w-full">
          At the studio, you can use the basic materials necessary for ceramics, painting, and other art disciplines. 
          Basic ceramic production materials are provided for members; however, additional materials may require an extra fee.
          </p>
          </details>

                  <details class="group mt-5">
    <summary class="flex cursor-pointer justify-between font-medium bg-gray-100 p-5 px-10 w-full">
        <h4 class="text-md leading-6 font-medium text-[#e18188]">What are the studio’s opening hours?</h4>
        <span class="transition group-open:rotate-180">
            <svg fill="none" height="24" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                <path d="M6 9l6 6 6-6"></path>
            </svg>
        </span>
    </summary>
    <p class="group-open:animate-fadeIn mt-3 text-gray-700 text-sm bg-gray-100 p-5 px-10 w-full">
        Our studio offers 24/7 access for members. Additionally, the opening hours vary according to course schedules. 
        You can check the course calendar for more information about specific hours.
    </p>
</details>

                <details class="group mt-5">
    <summary class="flex cursor-pointer justify-between font-medium bg-gray-100 p-5 px-10 w-full">
        <h4 class="text-md leading-6 font-medium text-[#e18188]">Can a beginner join the courses?</h4>
        <span class="transition group-open:rotate-180">
            <svg fill="none" height="24" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                <path d="M6 9l6 6 6-6"></path>
            </svg>
        </span>
    </summary>
    <p class="group-open:animate-fadeIn mt-3 text-gray-700 text-sm bg-gray-100 p-5 px-10 w-full">
        Yes! Our courses are designed for participants of all levels. We offer courses ranging from beginner to advanced. 
        To join a course, you can click on the 'Learn Pottery' section on our website's homepage and select the course that suits your level.
    </p>
</details>




                <details class="group mt-5">
                    <summary class="flex cursor-pointer justify-between font-medium bg-gray-100 p-5 px-10 w-full">
                        <h4 class="text-md leading-6 font-medium text-[#e18188]">What other services are available at the studio?</h4>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <p class="group-open:animate-fadeIn mt-3 text-gray-700 text-sm bg-gray-100 p-5 px-10 w-full">In addition to memberships and courses, we host special events. You can rent the studio for private art shows, group projects, or team-building events.</p>
                </details>
                
                <details class="group mt-5">
                    <summary class="flex cursor-pointer justify-between font-medium bg-gray-100 p-5 px-10 w-full">
                        <h4 class="text-md leading-6 font-medium text-[#e18188]">How can I cancel my studio membership?</h4>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <p class="group-open:animate-fadeIn mt-3 text-gray-700 text-sm bg-gray-100 p-5 px-10 w-full">To cancel your membership, you must provide 1 month’s notice. For more information regarding the cancellation process, please feel free to contact us.</p>
                </details>


                <details class="group mt-5">
    <summary class="flex cursor-pointer justify-between font-medium bg-gray-100 p-5 px-10 w-full">
        <h4 class="text-md leading-6 font-medium text-[#e18188]">What payment methods do you accept?</h4>
        <span class="transition group-open:rotate-180">
            <svg fill="none" height="24" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                <path d="M6 9l6 6 6-6"></path>
            </svg>
        </span>
    </summary>
    <p class="group-open:animate-fadeIn mt-3 text-gray-700 text-sm bg-gray-100 p-5 px-10 w-full">
        We accept credit card payments, bank transfers, and cash payments. 
        For more details on payment methods, please contact us.
    </p>
</details>



            </div>
        </div>
    </div>
</div>



<script src="/js/fqa.js"></script>