

<section class="relative -mt-[80px] pt-0 overflow-hidden">
  <video 
    preload="none"
    autoplay 
    muted 
    loop 
    playsinline
    oncanplay="this.classList.remove('opacity-0')" 
    class="w-full h-[300px] md:h-[450px] lg:h-[550px] object-cover object-[center_40%] opacity-0 transition-opacity duration-700">
    <source src="https://res.cloudinary.com/dnemf1asq/video/upload/q_auto:eco/%C4%B0simsiz_video_Clipchamp_ile_yap%C4%B1ld%C4%B1_elm4v8.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</section>
