{{!< main}}




  
  <!-- Right Section (Image) -->
  <div class="flex justify-center items-center flex-1 mt-8 md:mt-0">
    
    <!-- Featured image for the homepage 
    <img src="https://res.cloudinary.com/dnemf1asq/image/upload/v1737678107/hatice-6_ncxzyi.jpg"
  alt="HeartPottery Featured Artwork" class="w-full max-w-md object-cover rounded-lg shadow-lg mt-24" /> -->

  </div>  
  

</div>

